/* Personnalisation de la NavBar */

nav img {
	width: 50px;
}

.logo {
	width: 80px;
}



nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;	
}

nav li {
    float: left;	
}

.search {
	height: 22px;
	width: 8%;
	margin-left: 370px;
	margin-top: 40px;
	padding-right: 400px;
}

.bouton {
	height: 28px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 50px;
    text-decoration: none;
	vertical-align: middle;
}

.image {
  top: 15px;
  position: relative;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.textepanier, .texteapropos {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 15%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.textepanier {
	right: -1.5%;	
}

.texteapropos {
	right: 2.8%;	
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .texteapropos {
  opacity: 1;
}

.box:hover .textepanier {
  opacity: 1;
}

.texte {
  background-color: lightgray;
  color: black	;
  font-size: 16px;
  padding: 16px 32px;
}


/* Personnalisation de l'arrière plan */


  body{
    background-image: url(background.png);
    background-repeat: no-repeat;
  }


/* Personnalisation de la partie "Accueil" */
	/* Message de bienvenue */
  .titreaccueil {
    color: lightgray;
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
  }

  .soustitreaccueil {
    color: lightgray;
    text-align: center;
    font-size: 30px;
    position: relative;
    bottom: 30px;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 1px 0 #c9c9c9, 0 1px 0 #bbb, 0 2px 0 #b9b9b9, 0 2px 0 #aaa, 0 3px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 8px 8px rgba(0,0,0,.2), 0 15px 15px rgba(0,0,0,.15);
  }

	/* Slideshow */	

  .slideshow {
    width:400px; 
    height:400px; 
    overflow:hidden; 
    position:relative; 
  }
  .slideshow img{ 
    position:absolute;
    animation:slideshow 15s infinite; 
    opacity:0; 
    width: 100%; 
    height: auto;
  }

  @keyframes slideshow {25%{opacity:1;} 40%{opacity:0;}} 
  .slideshow img:nth-child(3){animation-delay:0s;}
  .slideshow img:nth-child(2){animation-delay:5s;}
  .slideshow img:nth-child(1){animation-delay:10s;}
/* Personnalisation de la partie "Recherche" */

#recherche img {
	width: 20%;
}

#recherche strong {
	color: orange;
}

#recherche a {
	text-decoration: none;
	color: #007FFF;
}

#article1 {
	border-top: solid;
	border-top-color: #DCDCDC;
	border-bottom: solid;
	border-bottom-color: #DCDCDC;
    overflow: hidden; /* empêche le dépassement des flottants */
}

#article1 .illus-gauche {
    float: left;
    margin: 5px 20px 5px 0;
}

#article1 p {
    overflow: hidden; /* Contexte de formatage. Force le paragraphe à
    adapter sa largeur aux flottants adjacents. */
}

#article2 {
	border-bottom: solid;
	border-bottom-color: #DCDCDC;
    overflow: hidden; /* empêche le dépassement des flottants */
}

#article2 .illus-gauche {
    float: left;
    margin: 5px 20px 5px 0;
}

#article2 p {
    overflow: hidden; /* Contexte de formatage. Force le paragraphe à
    adapter sa largeur aux flottants adjacents. */
}

#article3 {
	border-bottom: solid;
	border-bottom-color: #DCDCDC;
    overflow: hidden; /* empêche le dépassement des flottants */
}

#article3 .illus-gauche {
    float: left;
    margin: 5px 20px 5px 0;
}

#article3 p {
    overflow: hidden; /* Contexte de formatage. Force le paragraphe à
    adapter sa largeur aux flottants adjacents. */
}

#article4 {
	border-bottom: solid;
	border-bottom-color: #DCDCDC;
    overflow: hidden; /* empêche le dépassement des flottants */
    margin-bottom: 0;
}

#article4 .illus-gauche {
    float: left;
    margin: 5px 20px 5px 0;
}

#article4 p {
    overflow: hidden; /* Contexte de formatage. Force le paragraphe à
    adapter sa largeur aux flottants adjacents. */
}







/* Personnalisation de la partie "Article" */

#prems-partie-article img {
	float: left;
	margin: 5px 20px 5px 0;
	width: 35%;
}

#Description {
	overflow: hidden;
	width: 40%;
}

aside {
	float: right;
	border-style: solid;
	padding: 10px 10px 10px 10px;
	text-align: center;
}




/* Personnalisation de la partie "QuiSommesNous?" */
/* Personnalisation de la partie "Commandes" */
/* FOOTER */

footer {
	color:white;
	background-color: lightgray;
	margin-top: 0;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

footer a {
	text-decoration: none;
	color: white;
}
